@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-size: 100%;
		@apply focus:outline-accent-600 dark:focus:outline-accent-700;
	}

	h1 {
		@apply type-display;
	}

	h2 {
		@apply type-title-large;
	}

	h3 {
		@apply type-title;
	}

	h4 {
		@apply type-subtitle;
	}

	h5 {
		@apply type-body-large;
	}

	p {
		@apply type-body;
	}

	span {
		@apply type-body;
	}
}

@layer components {
	.type-focus {
		@apply text-base-900 dark:text-base-100;
	}
	.type-default {
		@apply text-base-600 dark:text-base-400;
	}
	.type-display {
		@apply text-[4.5rem] leading-[5.75rem] type-focus font-semibold;
	}

	.type-title-large {
		@apply text-[2.5rem] leading-[3.25rem] type-focus font-semibold;
	}

	.type-title {
		@apply text-[1.75rem] leading-[2.25rem] type-focus font-semibold;
	}

	.type-subtitle {
		@apply text-[1.25rem] leading-[1.75rem] type-focus font-semibold;
	}

	.type-body-large {
		@apply text-[1.125rem] leading-[1.5rem] type-focus;
	}

	.type-body-strong {
		@apply text-base text-base-900 dark:text-base-100 font-semibold leading-normal;
	}

	.type-body {
		@apply text-base type-default font-normal leading-normal;
	}

	.command {
		@apply flex relative p-3 items-center justify-center font-semibold rounded-lg shadow-lg text-base-900 dark:text-base-100 active:text-opacity-50 mst;
	}

	.block-input {
		@apply p-2 bg-inherit outline-none hover:raise-5 focus:raise-10 mst;
	}

	.btn {
		@apply flex items-center leading-none active:text-opacity-50 mst;
	}

	.btn-icon {
		@apply p-1.5 justify-center;
	}

	.btn-text {
		@apply px-3 py-1.5;
	}

	.btn-primary {
		@apply btn bg-base-900 dark:bg-base-100 text-base-100 dark:text-base-900 border border-base-800 dark:border-base-200;
	}

	.btn-secondary {
		@apply btn bg-base-100 dark:bg-base-900 text-base-900 dark:text-base-100 border border-base-200 dark:border-base-800;
	}

	.btn-accent {
		@apply btn bg-accent-600 dark:bg-accent-600 text-base-100 dark:text-base-100 border border-accent-700 dark:border-accent-700;
	}

	.btn-stealth {
		@apply btn border border-opacity-0 hover:raise-5;
	}
}

@layer utilities {
	.mst {
		@apply motion-safe:transition-all motion-safe:duration-200;
	}
	.lower-5 {
		@apply bg-base-50 dark:bg-base-1000 bg-opacity-5 dark:bg-opacity-5;
	}
	.lower-10 {
		@apply bg-base-50 dark:bg-base-1000 bg-opacity-10 dark:bg-opacity-10;
	}
	.lower-25 {
		@apply bg-base-50 dark:bg-base-1000 bg-opacity-25 dark:bg-opacity-25;
	}
	.lower-50 {
		@apply bg-base-50 dark:bg-base-1000 bg-opacity-50 dark:bg-opacity-50;
	}
	.lower-75 {
		@apply bg-base-50 dark:bg-base-1000 bg-opacity-75 dark:bg-opacity-75;
	}
	.raise-5 {
		@apply bg-base-1000 dark:bg-base-50 bg-opacity-5 dark:bg-opacity-5;
	}
	.raise-10 {
		@apply bg-base-1000 dark:bg-base-50 bg-opacity-10 dark:bg-opacity-10;
	}
	.raise-25 {
		@apply bg-base-1000 dark:bg-base-50 bg-opacity-25 dark:bg-opacity-25;
	}
	.raise-50 {
		@apply bg-base-1000 dark:bg-base-50 bg-opacity-50 dark:bg-opacity-50;
	}
	.raise-75 {
		@apply bg-base-1000 dark:bg-base-50 bg-opacity-75 dark:bg-opacity-75;
	}

	.border-default {
		@apply border border-base-200 dark:border-base-800;
	}
	.border-accent {
		@apply border border-accent-600 dark:border-accent-700;
	}
	.border-focus {
		@apply border border-base-400 dark:border-base-600;
	}
}