@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 100%;
    }
    h1 {
        @apply text-[4.5rem] leading-[5.75rem] text-base-900 dark:text-base-100 font-semibold;
    }
    h2 {
        @apply text-[2.5rem] leading-[3.25rem] text-base-900 dark:text-base-100 font-semibold;
    }
    h3 {
        @apply text-[1.75rem] leading-[2.25rem] text-base-900 dark:text-base-100 font-semibold;
    }
    h4 {
        @apply text-[1.25rem] leading-[1.75rem] text-base-900 dark:text-base-100 font-semibold;
    }
    h5 {
        @apply text-[1.125rem] leading-[1.5rem] text-base-900 dark:text-base-100;
    }
    p {
        @apply text-base text-base-600 dark:text-base-400 leading-normal;
    }
    span {
        @apply text-base text-base-600 dark:text-base-400;
    }
}

@layer components {
    .body-strong {
        @apply text-base text-base-900 dark:text-base-100 font-semibold;
    }
    .command {
        @apply flex relative p-3 items-center justify-center font-semibold rounded-lg shadow-lg text-base-900 dark:text-base-100 active:text-opacity-50 motion-safe:transition motion-safe:duration-200;
    }
}

@layer utilities {
    
}